<!--The content below is only a placeholder and can be replaced.-->
<div class="container">   
  <h2>{{title}}</h2>
  <div class="form-group ">
    <input type="text" [(ngModel)]="nombre" (ngModelChange)="filtraId()" class="form-control">
    
  </div>
  <a class="btn btn-primary btn-block"> Buscar </a>

    <div>   
       <ul class="list-group">
        <li class="list-group-item" *ngFor="let cliente of lista">{{cliente.id}} <br> {{cliente.nombre}} <br> {{cliente.direccion}} <br> {{cliente.telefono}}</li> 
      </ul> 
  </div>
</div>
